<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <ul class="nav navbar-top-links navbar-left m-l-xl">
      <li>
        <%= link_to root_path do %>
        <%= fa_icon "home", class: "fa-lg" %>
        <% end %>
      </li>
    </ul>
    <div class="navbar-header">
      <%= search_form_for @query_word, url: posts_path, class: "navbar-form-custom" do |f| %>
        <div class="form-group">
          <%= f.search_field :word_cont, class: "form-control", placeholder: "Pesquisar [rankeado]..." %>
        </div>
      <% end %>
      <%= search_form_for @query_post, class: "navbar-form-custom" do |f| %>
        <div class="form-group">
          <%= f.search_field :content_or_title_cont, class: "form-control", placeholder: "Pesquisar [simples]..." %>
        </div>
      <% end %>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <a href="#">
          <i class="fa fa-sign-out"></i>
          Log out
        </a>
      </li>
    </ul>
  </nav>
</div>
